.background{
    height: 900px;
    width: 100%;
    position:absolute;
    z-index: -1;
}
.home-Page{
    position: relative;
}
.current-Weather{
    height: 40px;
    background-color: rgba(124, 146, 212, 0.67);
}
.current-Weather > div {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0 0 70px;
}
.weather-Bar{
    display: flex;
    padding: 10px 0 0 15px;
    height: 40px;
    background-color:rgba(66, 92, 92, 0.778);
}
.weather-Bar > div{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 50px;
    cursor: pointer;
}
.main-Page-Welcome{
    margin: 80px 0 0 70px;
}
.main-Page-Welcome > div{
    color:beige;
    font-size: 25px;
}
.today-Weather-Outer{
    margin: 50px 0 0 70px;
    height: 300px;
    width: 350px;
    background-color: white;
    border-radius: 15px;
}
.weather-Today-Header{
    padding: 50px 0 10px 35px;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.weather-Today-Sunset{
    padding: 5px 0 5px 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.weather-Today-Sunrise{
    padding: 10px 0 5px 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.weather-Today-Temp{
    padding: 10px 0 5px 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.weather-Today-Humidity{
    padding: 10px 0 5px 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
